@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');


/* navegação  */

*{
    margin: 0;
    padding: 0;
}

body{
    margin-bottom: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.content{

 background-color: #181818;
}


::-webkit-scrollbar{
    width: 5px;
}

::-webkit-scrollbar-thumb{
    background: #02daff;
    border-radius: 6px;
}
.header{
    position: fixed;
    background-color: #170e30;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 7px 100px;

    transition: 0.5s;
    z-index: 1000;
}

header .sticky{
    background-color: #1b2141;
    box-shadow: 0 5px 10px rgba(0,0,0,0.9);
}

/*menu navbar*/

.imagem-logo{
    width: 60px;
    left: 5%;
}

.header, .navigation-header{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header{
    background-color: #170e30;
    box-shadow: 1px 1px 7px #680000;
    height: 3.5em;
    justify-content: space-between;
    padding: 0 6%;
}

.navigation-header{
    margin-right: 25%;
    gap: 3em;
    z-index: 2;
}

.navigation-header a{
    text-decoration: none;
    color: #fff;
    transition: 1s;
    font-weight: bold;
}
.navigation-header a:hover{
    color: #ef1e9d;
    cursor: pointer;
}
.active{
    background-color: #0a021d;
    padding: 10px;
    border-radius: 10px;
}



.btn-icon-hader{
    background-color: transparent;
    border: none;
    color: white;
    cursor: pointer;
    display: none;
}


/*caixa de pesquisa*/

.search-box{
    position: absolute;
    top: 30%;
    left: 78%;
    transform: translate(-10%, -10%);
    background: #1f0d79;
    height: 25px;
    padding: 10px;
    border-radius: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search-txt{
    border: none;
    background: none;
    outline: none;
    padding: 0;
    color: #000;
    font-size: 16px;
    line-height: 25px;
    width: 0;
    transition: .5s;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

::-webkit-input-placeholder{
    color: #ef1e9d;
    opacity: 40%;
}

.search-btn{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #1f0d79;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .5s;
}

.search-box:hover > .search-txt{
    width: 240px;
    padding: 0 6px;
}

.search-box:hover > .search-btn{
    background: white;

}

/*noticia*/

.noticia{
    position: relative;
    top: -200px;
    max-width: 1200px;
    margin: 0 auto;
    background-color: #181818;
}
.imagem img{
 padding: 0;
 margin: 0;
 width: 100%;

}
   
.texto{
    color: #02daff ;
    padding: 20px 10px;
    border-left: #02daff solid 5px;
    width: 1200px;
    margin: 1rem auto;
}

.texto h1{

    font-weight: bold;
    color: rgb(255, 255, 255);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

.textoP1{
    position: relative;
    right: 8%;
    top: -30px;
    text-align: left;
    padding-left: 135px;
    color: #02daff;
   
}

.TextoP{
    position: relative;
    right: 35%;
    top: -30px;
    color: #fff;
    text-align: center;
}


.TextoDeNoticia{
    position: relative;
    right: 0;
    width: 600px;
    margin: 0 auto;
    color: #fff;
    text-align: justify;
    
}

.materia-noticia{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
}

.principal{
    position: relative;
    width: 100%;
}

.propaganda img{
    right: 30%;
    position: relative;
    top: 10%;
    
}

.texto2{
    position: relative;
    right: 30%;
    top: 10%;
    color: #02daff ;
    padding: 1px 5px;
    border-left: #02daff solid 4px;
    margin: 1rem auto;
}

.texto2 h1{
    font-weight: bold;
    color: rgb(255, 255, 255);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

.texto3{
   
    color: #ffffff ;
    padding: 1px 5px;
    border-left: #02daff solid 4px;
    margin: 1rem auto;
}

.texto3 h1{
    font-weight: bold;
    color: rgb(255, 255, 255);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

@media screen and (max-width:768px)  {
    .noticia{
        position: relative;
        top:0px;
        max-width: 1200px;
        margin: 0 auto;
        background-color: #181818;
    }
    .imagem img{
     padding: 0;
     margin: 0;
     width: 100%;
    }

    .texto{
        color: #02daff ;
        padding: 20px 10px;
        border-left: #02daff solid 5px;
        width: 100%;
        margin: 1rem auto;
    }
    .texto h1{
        font-weight: bold;
        color: rgb(255, 255, 255);
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }
    
    .textoP1{
        position: relative;
        right: 30%;
        top: -30px;
        text-align: left;
        padding-left: 135px;
        color: #02daff;
    }
    
    .TextoP{
        position: relative;
        right: 35%;
        top: -30px;
        color: #fff;
        text-align: center;
    }

    
}

@media screen and (max-width:768px) {
    .header{
        justify-content: space-between;
    }
    .btn-icon-hader{
        display: block;
    }
    .navigation-header{
        position: absolute;
        flex-direction: column;
        top: 0;
        background-color: #1b0a49;
        height: 100%;
        width: 35vw;
        padding: 1em;
        animation-duration: 1s;
        margin-left: -100vw;
    }
    .search-box{
        top: 68%;
        left: 71%;
        transform: translate(-70%, -40%);
    }

    .search-btn{
        display: none;
    }
    .search-txt{
        display: block;
        width: 99px;
    }
    .search-box:hover > .search-txt{
        width: 99px;
        padding: none;
    }
}



/*footer*/




footer{
    background-color: #211c2c;
    padding: 50px 0;
}
.container-footer{
    max-width: 1400px;
    padding: 0 4%;
    margin: auto;
}
.row-footer{
    display: flex;
    flex-wrap: wrap;
}

.footer-col{
    width: 25%;
    padding: 0 15px;
}
.footer-col h4{
    font-size: 22px;
    color: white;
    margin-bottom: 20px;
    font-weight: 500;
    position: relative;
    text-transform: uppercase;
}
.footer-col ul{
    list-style: none;
}
.footer-col ul li{
    margin: 10px 0;
}
.footer-col ul li a{
    font-size: 16px;
    text-transform: capitalize;
    color: white;
    text-decoration: none;
    font-weight: 300;
    display: block;
    transition: all 0.3s ease;
}
.footer-col ul li a:hover{
    color: #cecdcd;
    padding-left: 10px;
}
.footer-col .medias-socias{
    margin-top: 30px;
}
.footer-col .medias-socias a{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    margin: 0 10px 10px 0;
    text-decoration: none;
    border-radius: 50%;
    color: white;
    border: 1px solid white;
    transition: all 0.5s ease;
}
.footer-col .medias-socias a i{
    font-size: 20px;
}

.footer-col .medias-socias a:hover{
    color: #415aca;
    background-color: white;
}
.footer-col .form-sub input{
    width: 100%;
    padding: 10px;
    font-size: 15px;
    outline: none;
    border: 1px solid white;
    color: white;
    background-color: #415aca;
}
.footer-col .form-sub input::placeholder{
    color: white;
}
.footer-col .form-sub button{
    
    width: 100%;
    margin-top: 10px;
    padding: 10px; 
    font-size: 17px;
    outline: none;
    border: none;
    cursor: pointer;
    color: #415aca;
    border-radius: 3px;
    font-weight: bold;
    background: #02daff;      
}

.form-sub a{
    color: #2b134b;
    text-decoration: none;  
}

.form-sub{
    position: relative;
    left: -50px;
    width: 100%;
    padding: 16px 0px;
    margin: 25px;
    border: none;
    border-radius: 8px;
    outline: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 3px;
    color: #2b134b;
    background: #02daff;
    cursor: pointer;
    box-shadow: 0px 10px 40px -12px #00ff8052;
}

.form-sub:hover{
    background: #ef1e9d;
    cursor: pointer;
    transition: 1s;
}

.logoDaEmpresa{
    color: white;
    font-weight: 1000;
}


/* Responsivo */
@media (max-width: 800px) {
    .footer-col{
        width: 50%;
        margin-bottom: 30px;
    }
}
@media (max-width:600px) {
    .footer-col{
        width: 100%;
    }
}
